.BasicButton {
    display:block;
    margin:auto;

    padding: 5px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight:bold;

    width:200px;
 
  }

  .BasicButton:hover {
    background-color: #b8b8b8;
  }

  .BasicButton:active {
    background-color: #909090;
  }