.main{
    text-align:center;

}

.btn{
    margin-top:100px;
    display: flex;
    flex-direction: column; /* 縦に並べる */
    gap:80px;
}

.main > :first-child {
    margin-top: 150px; /* Logoコンポーネントを下げる */
}
